bind9
bind9-dnsutils
curl
dnsdist
jq
knot-dnsutils
openssl
python3-aioquic
python3-argon2
python3-dnspython
python3-fastapi
python3-httpx
python3-itsdangerous
python3-jinja2
python3-multipart
python3-openpyxl
python3-pip
python3-venv
python3-yaml
sudo
uvicorn
