[Unit]
Description=Refresh Alderpoint DNS V2 subscribed Blocklists
After=alderpointdns-v2-web.service
Requires=alderpointdns-v2-web.service

[Service]
Type=oneshot
User=alderpointdns-v2
Group=alderpointdns-v2
ExecStart=/usr/bin/python3 /opt/alderpointdns-v2/scripts/v2/alderpointdns_v2_blocklist_refresh.py
