[Unit]
Description=Periodic Alderpoint DNS V2 subscribed Blocklist refresh

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
